<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Bienvenida</title>
</head>
<body>
    <div class="left-panel">
        <h1 class="bienvenida">Bienvenido</h1>
        <p><strong>Descubre cómo alcanzar tus objetivos personales de salud y bienestar a través de un programa de dieta personalizado. Ya sea que busques ganar músculo, perder peso o simplemente mantenerte en forma, nuestro enfoque te guiará paso a paso para transformar tu cuerpo de manera saludable y sostenible.</strong></p>
    
        <main class="section-principal">
            <div class="central">
                <h2>Ganar músculo</h2>
                <!-- Icono SVG -->
                <svg viewBox="0 0 1024 1024" class="icon" xmlns="http://www.w3.org/2000/svg" fill="#000000"></svg>
            </div>

            <div class="central">
                <h2>Perder peso</h2>  
                <!-- Icono SVG -->
                <svg viewBox="0 0 1024 1024" class="icon" xmlns="http://www.w3.org/2000/svg" fill="#000000"></svg>
            </div>

            <div class="central">
                <h2>Mantenerse</h2>
                <!-- Icono SVG -->
                <svg viewBox="0 0 1024 1024" class="icon" xmlns="http://www.w3.org/2000/svg" fill="#000000"></svg>
            </div>
        </main>
    </div>
    <div class="right-panel">
        <p><a href="/recomendaciones">Obtener recomendaciones</a></p>
    </div>
</body>
</html>
