<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendaciones</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
    <script>
        // Script para actualizar los valores de los sliders
        function updateSliderValue(sliderId, labelId) {
            var slider = document.getElementById(sliderId);
            var label = document.getElementById(labelId);
            label.innerHTML = slider.value;
        }
    </script>
</head>
<body>
    <div class="panel-izquierdo">
        <div>
            <h1>Indícanos tus datos y preferencias</h1>
        </div>

        <form method="POST" action="/recomendaciones">
            <!-- Ingresar género -->
            <div class="grid-item">
                <label for="gender">Género:</label>
                <label for="male">
                    <input type="radio" id="male" name="gender" value="M" required> Hombre
                </label>
                <label for="female">
                    <input type="radio" id="female" name="gender" value="F" required> Mujer
                </label>
            </div>

            <!-- Campo para peso -->
            <div class="grid-item">
                <label for="peso">Peso (kg):</label>
                <input type="number" id="peso" name="peso" step="0.1" required class="input-small">
            </div>

            <!-- Campo para altura -->
            <div class="grid-item">
                <label for="altura">Altura (m):</label>
                <input type="number" id="altura" name="altura" step="0.01" required class="input-small">
            </div>

            <!-- Selecciona tu objetivo -->
            <div class="grid-item">
                <label for="objetivo">Selecciona tu objetivo:</label>
                <select id="objetivo" name="objetivo" required class="input-small">
                    <option value="" disabled selected>Selecciona</option>
                    <option value="bajar_peso">Bajar de peso</option>
                    <option value="ganar_musculo">Desarrollo muscular</option>
                    <option value="vida_saludable">Vida saludable</option>
                </select>
            </div>

            <!-- Nivel de actividad física (lógica difusa) -->
            <div class="grid-item">
                <label for="actividad_fisica">Nivel de actividad física:</label>
                <select id="actividad_fisica" name="actividad_fisica" required class="input-small">
                    <option value="" disabled selected>Selecciona</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <!-- Preferencias alimenticias -->
            <div class="multiple-options">
                <label>Indica tus preferencias alimenticias (0.0 a 1.0)</label>

                <!-- Vegetariano -->
                <div class="option-group">
                    <label for="vegetariano">Vegetariano</label>
                    <input type="range" id="vegetariano" name="preferencias[vegetariano]" min="0" max="1" step="0.01" value="0.5" oninput="updateSliderValue('vegetariano', 'vegetariano_value')" class="slider-preferencia">
                    <span id="vegetariano_value">0.5</span>
                </div>

                <!-- Sin lactosa -->
                <div class="option-group">
                    <label for="sin_lactosa">Sin lactosa</label>
                    <input type="range" id="sin_lactosa" name="preferencias[sin_lactosa]" min="0" max="1" step="0.01" value="0.5" oninput="updateSliderValue('sin_lactosa', 'sin_lactosa_value')" class="slider-preferencia">
                    <span id="sin_lactosa_value">0.5</span>
                </div>

                <!-- Sin gluten -->
                <div class="option-group">
                    <label for="sin_gluten">Sin gluten</label>
                    <input type="range" id="sin_gluten" name="preferencias[sin_gluten]" min="0" max="1" step="0.01" value="0.5" oninput="updateSliderValue('sin_gluten', 'sin_gluten_value')" class="slider-preferencia">
                    <span id="sin_gluten_value">0.5</span>
                </div>

                <!-- Bajo en carbohidratos -->
                <div class="option-group">
                    <label for="bajo_carbohidratos">Carbohidratos</label>
                    <input type="range" id="bajo_carbohidratos" name="preferencias[bajo_carbohidratos]" min="0" max="1" step="0.01" value="0.5" oninput="updateSliderValue('bajo_carbohidratos', 'bajo_carbohidratos_value')" class="slider-preferencia">
                    <span id="bajo_carbohidratos_value">0.5</span>
                </div>
            </div>

            <!-- Condiciones médicas -->
            <div class="multiple-options multiple-button-group">
                <label>Indica tus condiciones médicas ( Si / No ) </label>

                <!-- Diabetes -->
                <div class="option-group">
                    <label for="diabetes">Diabetes</label>
                    <div class="options">
                        <input type="radio" id="diabetes_si" name="condiciones[diabetes]" value="1">
                        <label for="diabetes_si">Sí</label>
                        <input type="radio" id="diabetes_no" name="condiciones[diabetes]" value="0" required>
                        <label for="diabetes_no">No</label>
                    </div>
                </div>

                <!-- Hipertensión -->
                <div class="option-group">
                    <label for="hipertension">Hipertensión</label>
                    <div class="options">
                        <input type="radio" id="hipertension_si" name="condiciones[hipertension]" value="1">
                        <label for="hipertension_si">Sí</label>
                        <input type="radio" id="hipertension_no" name="condiciones[hipertension]" value="0" required>
                        <label for="hipertension_no">No</label>
                    </div>
                </div>

                <!-- Colesterol -->
                <div class="option-group">
                    <label for="colesterol">Colesterol</label>
                    <div class="options">                
                        <input type="radio" id="colesterol_si" name="condiciones[colesterol]" value="1">
                        <label for="colesterol_si">Sí</label>
                        <input type="radio" id="colesterol_no" name="condiciones[colesterol]" value="0" required>
                        <label for="colesterol_no">No</label>
                    </div>
                </div>

                <!-- Anemia -->
                <div class="option-group">
                    <label for="anemia">Anemia</label>
                    <div class="options">
                        <input type="radio" id="anemia_si" name="condiciones[anemia]" value="1">
                        <label for="anemia_si">Sí</label>
                        <input type="radio" id="anemia_no" name="condiciones[anemia]" value="0" required>
                        <label for="anemia_no">No</label>
                    </div>
                </div>
            </div>

            <div class="botones">
                <a href="/" class="btn-back">Volver al Inicio</a>
                <button type="submit" class="btn-submit">Obtener Recomendaciones</button>
            </div>
        </form>
    </div>
</body>
</html>

