<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recomendaciones</title>
    <link rel="stylesheet" href="../static/styles2.css">
</head>
<body>
    <div class="panel-izquierdo">
        <div>
            <h1>Indícanos tus datos y preferencias</h1>
        </div>
        
        <form method="POST" action="/recomendaciones">
            <!-- Ingresar edad, peso y altura -->
            <div class="grid-container">
                <div class="grid-item">
                    <label for="edad">Edad:</label>
                    <input type="number" id="edad" name="edad" required>
                </div>

                <div class="grid-item">
                    <label for="peso">Peso (kg):</label>
                    <input type="number" id="peso" name="peso" required>
                </div>

                <div class="grid-item">
                    <label for="altura">Altura (cm):</label>
                    <input type="number" id="altura" name="altura" required>
                </div>

                <!-- Género -->
                <div class="grid-item">
                    <label for="gender">Género:</label>
                    <label for="male">
                        <input type="radio" id="male" name="gender" value="M" required> Hombre
                    </label>
                    <label for="female">
                        <input type="radio" id="female" name="gender" value="F" required> Mujer
                    </label>
                </div>

                <!-- Selecciona tu objetivo -->
                <div class="grid-item">
                    <label for="objetivo">Selecciona tu objetivo:</label>
                    <select id="objetivo" name="objetivo" required>
                        <option value="" disabled selected> </option>
                        <option value="bajar_peso">Bajar de peso</option>
                        <option value="ganar_musculo">Desarrollo muscular</option>
                        <option value="vida_saludable">Vida saludable</option>
                    </select>
                </div>

                <!-- Nivel de actividad física -->
                <div class="grid-item">
                    <label for="actividad_fisica">Nivel de actividad física:</label>
                    <select id="actividad_fisica" name="actividad_fisica" required>
                        <option value="" disabled selected> </option>
                        <option value="0">Baja</option>
                        <option value="1">Alta</option>
                    </select>
                </div>
            </div>

            <!-- Preferencias alimenticias -->
            <div class="multiple-options multiple-button-group">
                <label class="padding-multiple-button">Elige tus preferencias alimenticias (selecciona varias si lo deseas):</label>
                <div class="preferencias multiple-button">
                    <button type="button" data-group="preferencias" data-index="0">Vegetariano</button>
                    <button type="button" data-group="preferencias" data-index="1">Sin lactosa</button>
                    <button type="button" data-group="preferencias" data-index="2">Sin gluten</button>
                    <button type="button" data-group="preferencias" data-index="3">Bajo en carbohidratos</button>
                </div>
            </div>

            <!-- Inputs ocultos para preferencias alimenticias -->
            <input type="hidden" name="preferencias" id="preferencias" value="0000">

            <!-- Condiciones médicas -->
            <div class="multiple-button-group">
                <label class="padding-multiple-button">Elige tus condiciones médicas (selecciona varias si lo deseas):</label>
                <div class="medical-conditions multiple-button">
                    <button type="button" data-group="condiciones" data-index="0">Diabetes</button>
                    <button type="button" data-group="condiciones" data-index="1">Hipertensión</button>
                    <button type="button" data-group="condiciones" data-index="2">Colesterol alto</button>
                    <button type="button" data-group="condiciones" data-index="3">Anemia</button>
                </div>
            </div>

            <!-- Inputs ocultos para condiciones médicas -->
            <input type="hidden" name="condiciones" id="condiciones" value="0000">

            <div class="botones">
                <a href="/" class="btn-back">Volver al Inicio</a>
                <button type="submit" class="btn-submit">Obtener Recomendaciones</button>
            </div>
        </form>

        <!-- Script para manejar la selección múltiple -->
        <script src="../static/script.js"></script>
    </div>
</body>
</html>
